p{color:gray;
}
h1{ color:lightsteelblue;
}
h3{ color:firebrick;
}

.GARUTOO{color:antiquewhite;}
#siu{color:black;
background-color:darkblue;}

body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0h_5hlYo9vKgZR3eVfBSa7200DbWlbN_cuhuiHhwbDA&s);
background-size: 200px;}
.naru{color:antiquewhite;background-color: black;}
.renegado{color: white;background-color: black;}
